.hero-section {
    padding: 60px 0;
    background-color: #000d21; // Fundo azul-escuro
    color: #ffffff;

    .tagline {
        font-size: 1.2rem;
        color: lighten(#00a8e8, 20%);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;

        .highlight {
            color: #00C7BE;
        }
    }

    .description {
        font-size: 1rem;
        margin-top: 10px;
        color: lighten(#ffffff, 20%);
    }

    .btn-cta {
        background: linear-gradient(90deg, #0AA2A6, #00c7be, #0AA2A6);
        background-size: 200%;
        font-family: "Open Sauce", Sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3em;
        fill: #000000;
        color: #000000;
        border-radius: 9px 9px 9px 9px;
        padding: 25px 60px;
        transition: background 5s ease-in-out ;

        &:hover {
            // transform: scale(1.2);
            background: linear-gradient(180deg, #0AA2A6, #00c7be, #0AA2A6);
        }
    }

    .clients {
        display: flex;
        align-items: center;
        font-size: 1rem;
        margin-top: 15px;

        img {
            width: 50px;
            height: auto;
        }
    }

    .laptop-img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 40px 20px;

        h1 {
            font-size: 2rem;
        }

        .description {
            font-size: 0.9rem;
        }

        .btn-primary {
            font-size: 1rem;
            padding: 8px 16px;
        }
    }
}